<div class="container mt-5">
  <% if user_signed_in? %>
    <% if current_user.type == 'Organizer' %>
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Details of organizer <%= current_user.name %></h3>
          <p class="card-text">Name: <%= @organizer.name %></p>
          <p class="card-text">Email: <%= @organizer.email %></p>
          <p class="card-text">Address: <%= @organizer.address %></p>
          <p class="card-text">Phone no: <%= @organizer.phone_no %></p>
          <div class="btn-group d-flex justify-content-between">
            <%= link_to 'Back', root_path,class: 'btn btn-danger nav-link'%>
            <%= link_to 'Add Tour', new_organizer_tour_path(@organizer), class: 'btn btn-danger nav-link'%>
          </div>
        </div>
      </div>
    <% elsif current_user.type == 'Traveller' %>
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Details of Organizer</h3>
          <p class="card-text">First Name: <%= @organizer.name %></p>
          <p class="card-text">Last Name: <%= @organizer.email %></p>
          <p class="card-text">Address: <%= @organizer.address %></p>
          <p class="card-text">Phone no: <%= @organizer.phone_no %></p>
          <p><%= link_to 'Chat with Organizer', "#", class: 'btn btn-danger nav-link' %></p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>




