<div class="container mt-5">
  <h3>Register your hotel!!</h3>
  <div>
    <% if @hotel.errors.any? %>
     <% @hotel.errors.full_messages.each do |msg| %>
      <span style="background-color: red;"><%= msg %><br><span>
     <% end %>
    <% end %>
  </div>
  <%= form_with model: [@partner, @partner.hotels.build], class: "form-horizontal" do |f| %>
    <div class="form-group">
      <%= f.label :hotel_name, class: "control-label" %>
      <%= f.text_field :hotel_name, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :city, class: "control-label" %>
      <%= f.text_field :city, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.submit "Submit", class: 'btn btn-danger nav-link' %>
    </div>
  <% end %>
</div>

