<div class="container mt-5">
  <h3>New Tour created by <%= current_user.email %></h3>

  <div >
    <% if @tour.errors.any? %>
      <% @tour.errors.full_messages.each do |msg| %>
        <span style="background-color: red;"><%= msg %><br></span>
      <% end %>
    <% end %> 
  </div>

  <%= form_with model: [@organizer, @organizer.tours.build], class: "mt-3" do |f| %>
    <div class="form-group">
      <%= f.label :images %>
      <%= f.file_field :images, class: "form-control-file", multiple: true %>
    </div>

    <div class="form-group">
      <%= f.label :destination_name %>
      <%= f.text_field :destination_name, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :pickup_and_dropping_point %>
      <%= f.text_field :pickup_and_dropping_point, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :pickup_date %>
      <%= f.date_field :pickup_date, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :dropping_date %>
      <%= f.date_field :dropping_date, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :inclusions %>
      <%= f.text_area :inclusions, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :amount %>
      <%= f.number_field :amount, class: "form-control" %>
    </div>

    <div class="btn-group d-flex justify-content-between">
      <%= f.submit "Create Tour",class: 'btn btn-danger nav-link' %>
    </div>
  <% end %>
</div>
