<div class="container mt-5">
  <div class="d-flex justify-content-center">
    <div>
      <h2 class="text-center">Details of Tour <%= @tour.destination_name %> organized by <%= @tour.organizer.name %></h2>

      <!-- Link to Organizer Details -->
      <span style="background-color: pink;">
        <%= link_to 'Click here for Organizer Details', organizer_path(@tour.organizer) %>
      </span>

      <!-- Images of Tour -->
      <div class="card">
        <div class="card-body">
          <div class="row">
            <% @tour.images.each do |image| %>
             <div class="col-md-4 mb-4">
              <%= image_tag url_for(image), class: "img-fluid" %>
             </div>
            <% end %>
          </div>

           <!-- Tour details -->
           <p class="card-text"><strong>Destination Name:</strong> <%= @tour.destination_name %></p>
           <p class="card-text"><strong>Pick up / Dropping Point:</strong> <%= @tour.pickup_and_dropping_point %></p>
           <p class="card-text"><strong>Pick up Date:</strong> <%= @tour.pickup_date %></p>
           <p class="card-text"><strong>Dropping Date:</strong><%= @tour.dropping_date %></p>
           <p class="card-text"><strong>Inclusions:</strong> <%= @tour.inclusions %></p>
           <p class="card-text"><strong>Amount:</strong> <%= @tour.amount %></p>

           <!-- Buttons -->
           <div class="btn-group d-flex justify-content-between">
            <%= link_to 'Back', travellers_path, class: 'btn btn-danger nav-link'%>
            <%= link_to 'Booked Tour', new_traveller_booking_path(@traveller, tour_id: @tour.id), class: 'btn btn-danger nav-link'  %>
           </div>
        </div>
      </div>
    </div>
  </div>
</div>
